* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ECECEC;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	padding-top: 100px;
}

.contenedor-canva {
	background: #F3F5FA;
	border-radius: 5px;
	border: 2px dotted black;
	padding: 0px;
	height:660px;
	width:765px;
	padding: 3px;
}

.contenedor-e {
	border: 1px solid gray;
	padding: 0px;
	height: 700px;
	width: 300px;
	display:grid;
	align-items: center;
	overflow-x: scroll;
}

.lista {
	width: 100%;
	height:100%;
}





.lista .elemento {
	display: inline-table;
	/* grid-template-columns: 100px 100px 100px; */
	cursor: move;
	height: 645px;
	width:250px;
}

.lista .puerta {
	background-image:url("img/Puerta.png");
	background-color: peru;
}

.lista .rack {
	background-image:url("img/Rack.png");
	background-color: peru;
}

.lista .cajones {
	background: #52392d;
}

.lista .puerta2 {
	background: #ff844b;
}


/* ? Clases para los estilos en los diferentes estados del drag and drop */
.lista .elemento.seleccionado {
	transform: scale(1.02) rotate(-1deg);
	box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
}

.lista .elemento .fantasma {
	border: 2px dotted #000;
}

.lista .elemento.drag {
	opacity: 0;
}
/* ? ------- */
